<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Quote
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <system>
        <tab id="intelipost" translate="label" sortOrder="0">
            <label>Intelipost</label>
        </tab>
        <section id="carriers" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>intelipost</tab>
            <group id="intelipost" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Intelipost Quote</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="custom_title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Title</label>
                </field>

                <field id="same_day_title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same Day Title</label>
                </field>

                <field id="scheduled_title" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scheduled Title</label>
                </field>

                <field id="scheduled_last" translate="label" type="select" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Scheduled as last?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="source_zip" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source Zip</label>
                </field>

                <field id="weight_unit" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weight Unit</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Unit</source_model>
                </field>

                <field id="height_attribute" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height Attribute</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Attribute</source_model>
                </field>

                <field id="width_attribute" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width Attribute</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Attribute</source_model>
                </field>

                <field id="length_attribute" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Length Attribute</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Attribute</source_model>
                </field>

                <field id="height_contingency" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height Contingency</label>
                </field>

                <field id="width_contingency" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width Contingency</label>
                </field>

                <field id="length_contingency" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Length Contingency</label>
                </field>

                <field id="weight_contingency" translate="label" type="text" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weight Contingency</label>
                </field>

                <field id="categories_contingency" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Categories Contingency</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Category</source_model>
                </field>

                <field id="use_category_attribute" translate="label" type="select" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Category Attribute</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Attribute\Select</source_model>
                </field>

                <field id="freeshipping_method" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping Method</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Allmethods</source_model>
                </field>

                <field id="freeshipping_text" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping Text</label>
                </field>

                <field id="cache_exp_time" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Expiration Time</label>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>

                <field id="riskareamsg" translate="label" type="textarea" sortOrder="171" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Risk Area Message</label>
                </field>

                <field id="contingency_table" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contingency Table</label>
                </field>

                <field id="contingency_import" translate="comment" type="button" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>Contingency Import</comment>
                    <frontend_model>Intelipost\Quote\Block\System\Config\Import</frontend_model>
                </field>

                <field id="price_config" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Configuration</label>
                    <source_model>Intelipost\Quote\Model\Config\Source\Price</source_model>
                </field>

                <field id="estimate_delivery_date" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Estimate Delivery Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="additional_delivery_date" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Delivery Date</label>
                    <comment>Quantity of Days</comment>
                </field>

                <field id="calendar_only_checkout" translate="label" type="select" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Scheduled Delivery Only at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="break_on_error" translate="label" type="select" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Break On Error</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="value_on_zero" translate="label" type="text" sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Value On Zero</label>
                </field>

                <field id="sallowspecific" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>

